<div *ngIf="condicional" class="alert alert-danger my-4 p-3 text-center">
    <h6 class="mb-0">Este email ya está registrado</h6>
</div>

<form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="row mb-4">
        <div class="col">
            <!--Name input-->
            <div class="form-outline">
                <input type="text" id="name" [class.is-invalid]="nameNoValid" class="form-control mb-1" formControlName="name" />
                <label class="form-label" for="name">Nombre</label>
            </div>
            <div *ngIf="nameNoValid">
                <p class="form-text text-danger mb-0" *ngIf="registerForm.controls['name'].errors.required">Campo obligatorio</p>
                <p class="form-text text-danger mb-0" *ngIf="registerForm.controls['name'].errors.minlength">Mínimo 4 caracteres</p>
            </div>
        </div>
        <div class="col">
            <!-- Lastname input -->
            <div class="form-outline">
                <input type="text" id="lastname" [class.is-invalid]="lastnameNoValid" class="form-control mb-1" formControlName="lastname" />
                <label class="form-label" for="lastname">Apellido</label>
            </div>
            <div *ngIf="lastnameNoValid">
                <p class="form-text text-danger mb-0" *ngIf="registerForm.controls['lastname'].errors.required">Campo obligatorio</p>
                <p class="form-text text-danger mb-0" *ngIf="registerForm.controls['lastname'].errors.minlength">Mínimo 4 caracteres</p>
            </div>
        </div>
    </div>

    <!-- Email input -->
    <div class="form-outline my-4">
        <input id="email" type="email" [class.is-invalid]="emailNoValid" class="form-control mb-1" formControlName="email">
        <label class="form-label" for="email">Email</label>
        <div *ngIf="emailNoValid">
            <small class="form-text text-danger mb-0" *ngIf="registerForm.controls['email'].errors.required">Campo obligatorio</small>
            <small class="form-text text-danger mb-0" *ngIf="registerForm.controls['email'].errors.pattern">Email inválido</small>
        </div>
    </div>

    <!-- Password input -->
    <div class="form-outline my-4">
        <input id="password" type="password" [class.is-invalid]="passwordlNoValid" class="form-control mb-1" formControlName="password">
        <label class="form-label" for="password">Contraseña</label>
        <div *ngIf="passwordlNoValid">
            <p class="form-text text-danger mb-0" *ngIf="registerForm.controls['password'].errors.required">Campo obligatorio</p>
            <p class="form-text text-danger mb-0" *ngIf="registerForm.controls['password'].errors.minlength">Mínimo 6 caracteres</p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-lg log-out-button" style="background-color: #4f4f4f;">Crear cuenta</button>
</form>