<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 mb-5">
    <a class="navbar-brand mr-5" href="#" style="color:lavender;">CordSupply</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-3" routerLinkActive="active">
                <button type="submit" (click)="onLogout()" class="btn btn-secondary">Log out</button>
            </li>
            <li class="nav-item ml-3" routerLinkActive="active">
                <button class="btn btn-success" routerLink="/supply/cord/nuevo">
                <span class="material-icons align-middle">add</span>
                Agregar
           </button>
            </li>
            <li class="nav-item ml-3" routerLinkActive="active">
                <p style="color: white;">Hola </p>
            </li>
        </ul>
        <form class="d-flex input-group w-auto">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" (keyup.enter)="searchCord(search.value)" #search>
            <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="light" (click)="searchCord(search.value)">Search</button>
        </form>
    </div>
</nav>