<div *ngIf="condicional" class="alert alert-danger mt-4 p-3 text-center">
    <h6 class="mb-0">Email o contraseña incorrecto</h6>
</div>

<form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <!-- Email input -->
    <div class="form-outline form-group my-4">
        <input id="email" type="email" [class.is-invalid]="emailNoValid" class="form-control mb-1" formControlName="email" placeholder="Email">
        <label class="form-label" for="email">Email</label>
        <div *ngIf="emailNoValid">
            <small class="form-text text-danger mb-0" *ngIf="loginForm.controls['email'].errors.required">Campo obligatorio</small>
            <small class="form-text text-danger mb-0" *ngIf="loginForm.controls['email'].errors.pattern">Email inválido</small>
        </div>
    </div>

    <!-- Password input -->
    <div class="form-outline form-group my-4">
        <input id="password" type="password" [class.is-invalid]="passwordlNoValid" class="form-control mb-1" formControlName="password" placeholder="Password">
        <label class="form-label" for="password">Contraseña</label>
        <div *ngIf="passwordlNoValid">
            <p class="form-text text-danger mb-0" *ngIf="loginForm.controls['password'].errors.required">Campo obligatorio</p>
            <p class="form-text text-danger mb-0" *ngIf="loginForm.controls['password'].errors.minlength">Mínimo 6 caracteres</p>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-info btn-block btn-lg mb-2" style="background-color: #4f4f4f">Iniciar sesión</button>

</form>