<div class="container">
    <h1 class="mb-5" style="margin-top: 100px;">Resultado</h1>
    <!--hilos-->
    <div *ngIf="!download && finds.length > 0">
        <app-card [cords]="finds"></app-card>
    </div>
    <div *ngIf="!download && finds.length === 0" class="alert alert-info text-center mt-3">
        <h4>No se encontraron resultados</h4>
    </div>
    <div *ngIf="download" class="text-center mt-3">
        <div class="lds-dual-ring"></div>
    </div>
</div>
<div style="position: fixed; bottom: 0; width: 100%; text-align: center;">
    <app-footer></app-footer>
</div>