body {
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif !important;
}

.background {
    height: 100vh;
    background-color: #f7d9d9;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23f7c9c9' fill-opacity='0.53' fill-rule='evenodd'/%3E%3C/svg%3E");
    padding: 5% 0;
}

.form-outline .form-control {
    min-height: auto;
    padding: .33em .75em;
    border: 1px solid #bdbdbd !important;
    background: transparent;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.form-control:focus,
.form-outline .form-control:focus~.form-label {
    border-color: #1266f1 !important;
}

.form-outline .form-control~.form-label {
    top: 1px !important;
    max-height: 25px;
    background-color: white;
}

.card-img-top {
    position: relative;
    img {
        mix-blend-mode: multiply;
    }
}

@media screen and (max-width: 991px) {
    .background {
        /* background: none;
        background-color: #f7c9c9; */
        padding: 0;
    }
}


/* 

.tools {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
}

a.badge-info.hover,
a.badge-info:hover {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, .5);
}

a.badge-danger.hover,
a.badge-danger:hover {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .5);
}

.badge-pill {
    padding: .4em .6em .4em .5em !important;
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
} */