body {
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
}

h1,
h2,
h3,
h4.card-title,
.navbar-brand {
    font-family: 'Raleway', sans-serif !important;
}

h1 {
    color: #999999;
    font-weight: 400;
}

h1.logo {
    color: #4f4f4f;
}

.btn-link.active,
.btn-link.active:focus,
.btn-link.focus,
.btn-link:active,
.btn-link:active:focus,
.btn-link:focus,
.btn-link:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eceaea;
}

.navbar-brand {
    font-weight: 600;
    font-size: 24px;
    color: #4f4f4f !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #999999;
    font-weight: 200;
    font-size: 18px;
    transition: color .4s, font-weight .4s;
}

.navbar-nav .nav-link.active {
    color: #4f4f4f !important;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #4f4f4f !important;
}

.background {
    height: 100vh;
    background-color: #f7d9d9;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23f7c9c9' fill-opacity='0.53' fill-rule='evenodd'/%3E%3C/svg%3E");
    padding: 5% 0;
}

.btn-link {
    color: #5aafb8 !important;
}

.back-color {
    background-color: #f7d9d9;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23f7c9c9' fill-opacity='0.53' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.form-outline .form-control {
    min-height: auto;
    padding: .33em .75em;
    border: 1px solid #bdbdbd !important;
    background: transparent;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.form-control:focus,
.form-outline .form-control:focus~.form-label {
    border-color: #5aafb8 !important;
    color: #4f4f4f !important;
}

.btn-outline-info,
.btn-outline-info:hover {
    color: #5aafb8;
    border-color: #5aafb8;
}

.btn-outline-danger,
.btn-outline-danger:hover {
    color: #a70b25;
    border-color: #a70b25;
}

.form-outline .form-control~.form-label {
    top: 1px !important;
    max-height: 25px;
    background-color: white;
}

.log-out-button {
    margin-right: 1rem;
}

.search {
    input {
        min-height: calc(2.08rem + 2px);
        height: calc(2.08rem + 2px);
        padding-top: .27rem;
        padding-bottom: 0;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        background: transparent;
        border: none;
        border-bottom: 2px solid #5aafb8;
        color: rgba(0, 0, 0, .55);
        font-size: 18px;
        font-weight: 200;
    }
    input:focus {
        border-bottom: 2px solid #4f4f4f;
        outline: none !important;
        background: rgba(255, 255, 255, .3);
    }
    span {
        color: #4f4f4f;
    }
}

.card-img-top {
    max-height: 170px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        overflow: hidden;
        mix-blend-mode: multiply;
    }
}

.card-text {
    font-weight: 300 !important;
    strong {
        font-weight: 700;
    }
}

.btn-outline-info:hover,
.btn-outline-danger:hover {
    background-color: rgba(0, 0, 0, .1);
}

#color {
    min-height: 39.59px;
}

select {
    box-shadow: none !important;
}

.modal-header {
    border-bottom: none !important;
}

.username {
    color: #5aafb8 !important;
    font-weight: 600 !important;
}

.username.desktop {
    display: block;
    margin: 0 1.2rem 0 0;
}

.username.responsive {
    display: none;
}

@media screen and (max-width: 991px) {
    .background {
        padding: 0;
    }
    .navbar {
        padding-bottom: 0;
    }
    .navbar-brand {
        padding-bottom: .9rem;
    }
    .navbar-collapse {
        background-color: #f7d9d9;
        padding-bottom: 1rem;
        padding-top: .5rem;
    }
    .nav-link {
        display: block;
        padding: .5rem 1rem .5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
    .nav-item:first-child .nav-link {
        border-top: 1px solid rgba(0, 0, 0, .1);
    }
    .nav-item form {
        margin-top: 1rem;
    }
    .log-out-button {
        margin-top: 2rem;
        margin-right: auto;
        margin-left: auto;
        width: 95%;
        display: block;
    }
    .search {
        justify-content: space-between;
        width: 100%;
        input {
            width: 90%;
        }
    }
    .username.responsive {
        width: 100%;
        margin: 1rem 1rem;
        display: block;
        font-size: 20px;
    }
    .username.desktop {
        display: none;
    }
}

footer {
    margin-top: 1.5rem;
    font-weight: 600;
    color: #4f4f4f;
    font-family: 'Raleway', sans-serif !important;
}


/* loader */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fdd;
    border-color: #fdd transparent #fdd transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}