<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 col-11 mx-auto mt-5 p-4 shadow-3-strong" style="background-color: white;">
                <h1 class="text-center mb-4 logo"><strong>Cordsupply</strong></h1>
                <div class="btn-group shadow-0 w-100" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-link" routerLinkActive="active" routerLink="/form/login">
                        Iniciar Sesión
                    </button>
                    <button type="button" class="btn btn-link" routerLinkActive="active" routerLink="/form/register">
                        Crear Cuenta
                    </button>
                </div>
                <hr class="my-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>