<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 col-11 mx-auto mt-5 p-4 shadow-3-strong bg-light">
                <h1 class="text-center mb-4"><strong>Cordsupply</strong></h1>
                <ul class="nav nav-pills nav-justified" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link px-1" href="" routerLinkActive="active" routerLink="/form/login">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link mr-0 px-1" href="" routerLinkActive="active" routerLink="/form/register">Registrarse</a>
                    </li>
                </ul>
                <hr class="my-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>