<div class="container">
    <h1 class="mb-5" style="margin-top: 100px;">Listado de hilos</h1>
    <!--hilos-->
    <div *ngIf="!download && cords.length > 0">
        <app-card [cords]="cords"></app-card>
    </div>
    <div *ngIf="!download && cords.length === 0" class="alert alert-info text-center mt-3">
        <h4>No hay registros</h4>
    </div>
    <div *ngIf="download" class="text-center mt-3">
        <div class="lds-dual-ring"></div>
    </div>
</div>
<div class="animated fadeIn fast" *ngIf="!download">
    <app-footer></app-footer>
</div>