<div class="container">
    <div class="row" style="margin-top: 130px;">
        <div class="col-6">
            <h1 class="mb-5">Tablero</h1>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-outline-info" style="float: right;" routerLinkActive="active" routerLink="/supply/cord/nuevo" data-mdb-ripple-color="dark">
            <span class="material-icons align-middle">
                add
                </span>
        Agregar hilo
      </button>
        </div>
    </div>
    <!--hilos-->
    <div *ngIf="!download && cords.length > 0">
        <app-card [cords]="cords"></app-card>
    </div>
    <div *ngIf="!download && cords.length === 0" class="alert alert-info text-center mt-3">
        <h4>No hay registros</h4>
    </div>
    <div *ngIf="download" class="text-center mt-3">
        <div class="lds-dual-ring"></div>
    </div>
</div>
<div class="animated fadeIn fast" *ngIf="!download">
    <app-footer></app-footer>
</div>